fastapi~=0.121.0
uvicorn[standard]~=0.38.0
agno~=2.2.10
openai
icalendar~=6.3.2
google-search-results
python-multipart
python-dotenv~=1.2.1
pydantic~=2.12.4
httpx~=0.28.1
requests~=2.32.5
amadeus~=12.0.0
isodate~=0.7.2
google-api-python-client~=2.187.0
supabase
google-auth
certifi
websockets>=12.0